<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Beamer</title>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <link rel="stylesheet" href="/css/common.css">
      <script src="/js/common.js"></script>
   </head>
   <body>
      <br />
      <div> Hello, ! Please select your beamer content </div>
      <br />
      <div class="ui-widget ui-helper-clearfix">
      
      
        <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
          <% (1..11).each do |index| %> 
          <li class="ui-widget-content ui-corner-tr">
            <h5 class="ui-widget-header"><%=beamhash[index.to_s]%></h5>
            <img src="images/<%=index%>.png" alt="The peaks of High Tatras" width="96" height="72">
          </li>
          <% end %>
        </ul>
        
       
        <div id="selection" class="ui-widget-content ui-state-default">
          <h4 class="ui-widget-header">My Beamer</h4>
        </div>
      </div>

      <br /> 
      <div> What else are you interested in? <br />
      <textarea id="user-input" style="width:400px;height:120px;"></textarea>
      </div>
         
      
      <button type="submit" id="button-user-input" class="submit-button">Submit</button>
   </body>
</html>
