<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Beamer</title>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <link rel="stylesheet" href="/css/common.css">
      <script src="/js/common.js"></script>
   </head>
   <body>
      <p>Demo Page</p>
      <div class="ui-widget ui-helper-clearfix">
 
      <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
        <li class="ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Fashion</h5>
          <img src="images/1.jpg" alt="The peaks of High Tatras" width="96" height="72">
          <!-- <a href="images/1.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a> -->
          <!-- <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a> -->
        </li>
        <li class="ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Nike</h5>
          <img src="images/2.jpg" alt="The chalet at the Green mountain lake" width="96" height="72">
          <!-- <a href="images/2.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a> -->
          <!-- <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a> -->
        </li>
        <li class="ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Car</h5>
          <img src="images/3.jpg" alt="Planning the ascent" width="96" height="72">
          <!-- <a href="images/3.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a> -->
          <!-- <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a> -->
        </li>
        <li class="ui-widget-content ui-corner-tr">
          <h5 class="ui-widget-header">Health</h5>
          <img src="images/4.jpg" alt="On top of Kozi kopka" width="96" height="72">
          <!-- <a href="images/4.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a> -->
          <!-- <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a> -->
        </li>
      </ul>
       
      <div id="trash" class="ui-widget-content ui-state-default">
        <h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Trash</span> Trash</h4>
      </div>
       
      </div>
   </body>
</html>
